body {
  text-align: center;
}
.instructions {
  vertical-align: baseline;
  background-color: violet;
}
.heading {
  background-color: blue;
  font-size: larger;
  color: white;
}
.totalscore {
  background-color: lime;
  font-size: larger;
}
.totalscore1 {
  background-color: paleturquoise;
  font-size: larger;
}
.scoreboard {
  text-align: left;
  font-size: larger;
}
.cpuscore {
  font-size: larger;
}
.wins,
.loses,
.wins1,
.loses1 {
  text-align: center;
  font-size: larger;
}

.footer {
  margin-top: 30px;
}
